.container {
    width: 1166px;
    margin: 0 auto;
    padding: 0 15px;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
}
ul {
    list-style: none
}
a {
    text-decoration: none;
    color: inherit;
}

@import "./components/header",
"components/reviews", 
"components/explore", 
"components/footer", 
"components/sellers";



// @import "utils/mixins",
// "utils/placeholders",
// "utils/variable";

@media (max-width: 1200px) {
    .container {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 480px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 320px;
    }
}