%font-family-style {
    font-family: "Montserrat";
    font-style: normal;
}
%position-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%position-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
%main-font {
    font-family: Montserrat;
    font-style: normal;
}