$light-black-reviews: #111;
$orange-reviews: #fd9222;
$white-reviews: white;
$carousel-reviews-bg: rgba(17, 17, 17, 0.1);
$combination-box-shadow: rgba(215, 228, 249, 0.25);
$combination-text: rgba(17, 17, 17, 0.70);
$modal-reviews-form-border: rgba(17, 17, 17, 0.05);
$modal-reviews-form-box-shadow: rgba(0, 0, 0, 0.03);
$modal-reviews-input-placeholder: rgba(64, 64, 64, 0.30);
$black-reviews: black;
$bg-footer: #1E1823;
$reviews-cross-send-bg: #FCF1E0;
$reviews-cross-send: #F16529;
$white-standart: #FFF;
$gentle-white-background: #FAFAFA;
$black-standard: #000;
$black-paragraf: #111;
$gentle-black: #1E1823;
$orange: #FD9222;
$made-flavor: #4C4C4C;
$orange-reviews: #fd9222;