.footer {
    background: $bg-footer;
    &__content-line {
        width: 1136px;
        height: 1px;
        background: rgba(255, 255, 255, 0.10);
    }
}
.delicious {
    padding: 50px 0 58px 0;
    &__title {
        color: $white-reviews;
        font-size: 28px;
        @extend %font-family-style;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: -0.56px;
        width: 300px;
        &-orange {
            color: $orange-reviews;
        }
    }
}

.simplychoc {
    display: flex;
    gap: 63px;
    &__contact {
        color: $white-reviews;
        font-size: 14px;
        @extend %font-family-style;
        font-weight: 500;
        line-height: 18px;
        padding: 0 0 14px 0;
    }
    &__social {
        display: flex;
        gap: 18px;
        &-insta {
            stroke: $white-reviews;
            transition: stroke .3s linear, transform .3s linear;
            &:hover {
                transform: scale(1.3) translateY(-2px);
                stroke: $orange-reviews;
            }
        }
        &-twitter {
            stroke: $white-reviews;
            transition: stroke .3s linear, transform .3s linear;
            &:hover {
                transform: scale(1.3) translateY(-2px);
                stroke: $orange-reviews;
            }
        }
    }
    
}
.details {
    &__contact {
        color: $white-reviews;
        font-size: 14px;
        @extend %font-family-style;
        font-weight: 500;
        line-height: 18px;
        padding: 0 0 14px 0;
    }
    &__address {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__link {
        color: $white-reviews;
        font-size: 14px;
        @extend %font-family-style;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
        transition: transform .3s linear, color .3s linear;
        &:hover {
            transform: translateX(10px);
            color: $orange-reviews;
        }
    }
}

.day-info {
    &__list {
        display: flex;
        gap: 24px;
        padding: 24px 0 50px 0;
        flex-wrap: wrap;
        &-link {
            color: $white-reviews;
            font-size: 14px;
            @extend %font-family-style;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: -0.28px;
            transition: color .3s linear;
            &:hover {
                color: $orange-reviews;
            }
        }
    }
    &__list-item {
        transition: transform .3s linear;
        &:hover {
            transform: scale(0.98) translateY(-3px);
        }
    }
}

@media (max-width: 1200px) {
    .footer {
        &__content-line {
            width: 704px;
        }
    }
    .delicious {
        gap: 124px;
        padding: 50px 0 50px 0;
    }
    .simplychoc {
        gap: 30px;
    }
    .day-info__list {
        padding: 24px 0 50px 0;
    }
}

@media (max-width: 768px) {
    .footer {
        &__content-line {
            width: 450px;
        }
    }
    .delicious__title {
        font-size: 24px;
    }
    .delicious {
        flex-direction: column;
        gap: 32px;
    }
    .simplychoc {
        gap: 113px;
    }
    .day-info__list {
        gap: 18px;
        padding: 24px 0 50px 0;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .footer {
        &__content-line {
            width: 335px;
        }
    }
    .delicious {
        padding: 32px 0 32px 0;
    }
    .day-info__list {
        padding: 32px 0 32px 0;
    }
    .simplychoc {
        gap: 106px;
    }
}

@media (max-width: 365px) {
    .footer {
        &__content-line {
            width: 286px;
        }
    }
    .simplychoc {
        gap: 50px;
    }
}